<a href="{{ .Permalink }}">{{ .Title }} {{ if .Draft }}:: DRAFT{{end}} </a><i> {{ .Date.Format "Jan 2, 06" }}</i><br>
<!-- 
<article class="post">
</article>
    <header>
    </header>
      <div class="post-meta">{{ .Date.Format "Mon, Jan 2, 2006" }} </div>
      <h2><a href="{{ .Permalink }}">{{ .Title }} {{ if .Draft }}:: DRAFT{{end}}</a> </h2>
	<article itemprop="articleBody" id="content">
        <a href='{{ .Permalink }}'>Read more→</a>
		{{ .Summary }} 
	</article>-->
    <!--footer>
        <a href='{{ .Permalink }}'><nobr>Read more →</nobr></a> 
    </footer-->
