        <ul id="mainnav">
            <li>
            <a href="/review/">
                <span class="icon"> <i aria-hidden="false" class="fa fa-thumbs-o-up"></i></span>
                <span> review</span>
            </a>
            </li>
	<!--
            <li>
            <a href="/firo/">
                <span class="icon"> <i aria-hidden="true" class="fa fa-male"></i></span>
                <span> firo </span>
            </a>
            </li>
	-->
            <li>
            <a href="/history/">
                <span class="icon"> <i aria-hidden="false" class="fa fa-institution"></i></span>
                <span> history </span>
            </a>
            </li>
            <li>
            <a href="/about">
                <span class="icon"> <i aria-hidden="true" class="fa fa-rocket"></i></span>
                <span> Firo </span>
            </a>
            </li>
            <li>
                <a href="/howto/">
                <span class="icon"> <i aria-hidden="true" class="fa fa-gamepad"></i></span>
                <span> howto </span>
            </a>
            </li>
            <li>
            <a href="/kernel/">
                <span class="icon"> <i aria-hidden="true" class="fa fa-linux"></i></span>
                <span> kernel </span>
            </a>
            </li>
            <li>
            <a href="/net/">
                <span class="icon"> <i aria-hidden="true" class="fa fa-globe"></i></span>
                <span> net </span>
            </a>
            </li>
            <li>
            <a href="/philosophy/">
                <span class="icon"> <i aria-hidden="true" class="icon-leaf"></i></span>
                <span> philosophy </span>
            </a>
            </li>
            <li>
                <a href="/cs/">
                <span class="icon"> <i aria-hidden="true" class="fa fa-laptop"></i></span>
                <span> cs </span>
            </a>
            </li>
        </ul>
