        <ul id="mainnav">
            <li>
            <a href="/review/" >
                <span class="icon"> <i aria-hidden="false" style="background-color:#FFFFF0" class="fa fa-thumbs-o-up"></i></span>
                <span> review</span>
            </a>
            </li>
            <li>
            <a href="/firo/" >
                <span class="icon"> <i aria-hidden="true" style="background-color:#FFFFF0" class="fa fa-male"></i></span>
                <span> firo </span>
            </a>
            </li>
            <li>
            <a href="/history/" >
                <span class="icon"> <i aria-hidden="false" style="background-color:#FFFFF0" class="fa fa-institution"></i></span>
                <span> history </span>
            </a>
	    <li>
                <a href="/linguistics/" >
                <span class="icon"> <i aria-hidden="true" style="background-color:#FFFFF0" class="fa fa-language"></i></span>
                <span> linguistics </span>
            </a>
            </li>
            </li>
            <li>
                <a href="/howto/" >
                <span class="icon"> <i aria-hidden="true" style="background-color:#FFFFF0" class="fa fa-gamepad"></i></span>
                <span> howto </span>
            </a>
            </li>
            <li>
            <a href="/cs/" >
                <span class="icon"> <i aria-hidden="true" style="background-color:#FFFFF0" class="fa fa-linux"></i></span>
                <span> cs </span>
            </a>
            </li>
            <li>
            <a href="/net/" >
                <span class="icon"> <i aria-hidden="true" style="background-color:#FFFFF0" class="fa fa-globe"></i></span>
                <span> net </span>
            </a>
            </li>
            <li>
            <a href="/philosophy/" >
                <span class="icon"> <i aria-hidden="true" style="background-color:#FFFFF0" class="icon-leaf"></i></span>
                <span> philosophy </span>
            </a>
            </li>

            <!--li>
                <a href="/lyubishchev/" >
                <span class="icon"> <i aria-hidden="true" style="background-color:#FFFFF0" class="fa fa-hourglass-half"></i></span>
                <span> lyubishchev </span>
            </a>
            </li-->
            <!--li>
                <a href="/cs/" >
                <span class="icon"> <i aria-hidden="true" style="background-color:#FFFFF0" class="fa fa-laptop"></i></span>
                <span> computer science </span>
            </a>
            </li-->

            <li>
            <a href="/" style="color:#B22222" >
                <span class="icon" > <i aria-hidden="true" style="background-color:#FFFFF0" class="fa fa-rocket"></i></span>
                <!--span> f(x) </span-->
            </a>
            </li>

        </ul>
