<header id="header">
	<link rel="stylesheet" href="static/css/font-awesome.min.css">
	<nav id="nav">
	<div id="title"><a href="/" style="color:#B22222;">ƒ(x)</a></div>


	<!--li>
	<a href=mailto: firogm@gmail.com target="_blank" class="mailto"><span class="icon"> <i aria-hidden="true" style="background-color:#FFFFF0" class="fa fa-language"></i></span> Firo </a>
	<a href=mailto: firogm@gmail.com target="_blank" class="mailto"><span style="background-color:#FFFFF0" class="icon-mail"></span>Firo</a>
	</li-->
	</nav>
	<nav id="nav">
    	{{ partial "nav.html" . }}
	</nav>
	<nav id="nav">
       {{ partial "social.html" . }}
	</nav>
</header>
