;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Wed Dec 14 12:58:26 2011
;; Desktop file format version 206
;; Emacs version 23.3.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring nil)
(setq regexp-search-ring nil)
(setq register-alist nil)
(setq file-name-history '("~/akasha/" "/home/firo/akasha/firo.wiki" "/home/firo/akasha/live.wiki" "/home/firo/akasha/life.wiki" "/home/firo/akasha/firo.wiki"))

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/home/firo/akasha/firo.wiki"
  "firo.wiki"
  'org-mode
  '(linum-mode)
  291
  '(271 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix) (truncate-lines . t)))

(desktop-create-buffer 206
  "/home/firo/akasha/live.wiki"
  "live.wiki"
  'org-mode
  '(linum-mode)
  475
  '(493 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix) (truncate-lines . t)))

(desktop-create-buffer 206
  "/home/firo/akasha/life.wiki"
  "life.wiki"
  'org-mode
  '(linum-mode)
  975
  '(1020 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix) (truncate-lines . t)))

