<!DOCTYPE html>
<html class="no-js" lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
    <meta charset="utf-8">

    {{ partial "meta.html" . }}

    <meta name="google-site-verification" content="BHWZ_E95BFh9L12Z90adRkxTjXIxIGSQG4qiFkcLhUw" />
    <base href="{{ .Site.BaseURL }}">
    <title>{{ .Site.Title }}</title>
    <link rel="canonical" href="{{ .Permalink }}">
    <link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />

    {{ partial "head_includes.html" . }}
</head>
<!--body style="background-color:rgb(235,238,210);" lang="en"-->
<body lang="en">

{{ partial "subheader.html" . }}

<section id="main">

  <div>
<b>My current working, if you are doing the same things, feel free to get touch with me.</b><br>
Learning theory of computation.<br>
Trying to prove or get the relationship between TOC and programming abilties.<br>
Reading SICP.<br>
Reading The science of programming<br>
Reading First Draft of a Report on the EDVAC by John von Neumann<br>
Reading 控制论与科学方法论<br>

<b>My works:</b><br>
Quantitative Congnition - The Philosophy On Which I Live </br>
奔腾年代(Chinese version, under construction)<br>
The Common Cognition Language(under construction)<br>
The orgnizations of knowledge(under construction)<br>
      <!-- <h1 id="title">The notes of Firo</h1> 
    {{ range .Data.Pages }}
      {{ if .Section}}
        {{ .Render "summary"}}
      {{ end }}
    {{ end }}-->
  </div>
</section>

<aside id="meta"> </aside>

{{ partial "footer.html" . }}
