<!DOCTYPE html>
<html class="no-js" lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
    <meta charset="utf-8">

    {{ partial "meta.html" . }}

    <meta name="google-site-verification" content="BHWZ_E95BFh9L12Z90adRkxTjXIxIGSQG4qiFkcLhUw" />
    <base href="{{ .Site.BaseURL }}">
    <title>{{ .Site.Title }}</title>
    <!--title>f(x)</title alternate-->
    <link rel="canonical" href="{{ .Permalink }}">

    {{ partial "head_includes.html" . }}
</head>
<body style="background-color:#FFFFF0;" lang="en">
<body lang="en">

{{ partial "subheader.html" . }}

<section id="main">

  <div>
{{ range where .Site.Pages "Source.Path" "future.md" }}
    {{ .Content }}
{{ end }}
   {{ range first 5 .Data.Pages }}
        {{ .Render "summary"}}
    {{ end }}

      <!-- {{ if .Section}} -->
      <!-- {{ end }}-->
  </div>
</section>

<aside id="meta"> </aside>

{{ partial "footer.html" . }}
